div(id="page-wrapper" ng-class="{'open': toggle}" ng-controller="DashboardController" ng-cloak)
	//sidebar
	include ./partials/sidebar.pug
	//dashboard header
	include ./partials/dashboard-header.pug
	//main content
	//exercise management list
	div(class="row")
		div(class="col-lg-12")
			rd-widget
				rd-widget-header(icon="fa-database" title="Exercises")
					button(type="button" class="btn btn-info create-button-exercises" ng-click="openModal('create', '')") Add Exercise 
						i(class="fa fa-plus fa-1x" aria-hidden="true")
					input(type="text" placeholder="Search Exercise..." class="form-control input-sm" ng-model="search.query")
				rd-widget-body(classes="large no-padding")
					rd-loading(ng-show="loading")
					div(class="table-responsive" ng-hide="loading")
						table(class="table table-striped table-hover")
							thead
								tr
									th(class="text-center") ID
									th Title
									th Description
									th(class="text-center") Image
									th(class="text-center") Duplicated
									th(class="text-center") Date Updated
									th(class="text-center") Favourite
									th(class="text-center") Edit
							tbody
								tr(ng-repeat="exercise in filteredExercises()")
									td(class="text-center") {{ exercise.id }}
									td {{ exercise.title | limitTo: 50 }}{{ exercise.title.length > 50 ? '...' : ''}}
									td {{ exercise.description | limitTo: 65 }}{{ exercise.description.length > 65 ? '...' : ''}}
									td(class="text-center")
										i(class="fa fa-check-circle-o fa-2x check-ex" aria-hidden="true" ng-show="exercise.image")
										i(class="fa fa-times-circle-o fa-2x cross-ex" aria-hidden="true" ng-hide="exercise.image")
									td(class="text-center")
										i(class="fa fa-files-o fa-2x duplicated-false" aria-hidden="true" ng-show="exercise.duplicate == 0")
										i(class="fa fa-files-o fa-2x duplicated-true" aria-hidden="true" ng-show="exercise.duplicate == 1")
									td(class="text-center") {{ exercise.date_updated | date:'dd/MM/yyyy' }}
									td(class="text-center")
										a(ng-click="favourite(exercise.id, exercise.favourite)")
											i(class="fa fa-star fa-2x exercise-star" aria-hidden="true" ng-class="{ faved : exercise.favourite == 1}")
									td(class="text-center")
										button(type="button" class="btn btn-info btn-sm" ng-click="openModal('edit', exercise)") EDIT 
											i(class="fa fa-pencil-square-o fa-fw" aria-hidden="true")