div(class="wrapper login-page" ng-controller="LoginController as login")
	div(class="login-container")
		h1 Login to Your Account
		//TODO show message of failed login of username or password
		div(id="login-message")
		form
			input(type="text" name="email" placeholder="ron@swanson.com" ng-model="user.email")
			input(type="password" name="password" placeholder="Password" ng-model="user.password")
			input(type="submit" name="login" class="login login-submit" value="Login" ng-click="login()")
			div(id="error-log")
			p(ng-model="user.email")