div(class="wrapper login-page" ng-controller="LoginController as login")
	div(class="login-container")
		h1 Login to Your Account
		form
			//inputs and button
			input(type="text" name="email" placeholder="ron@swanson.com" ng-model="user.email")
			input(type="password" name="password" placeholder="Password" ng-model="user.password")
			input(type="submit" name="login" class="login login-submit" value="Login" ng-click="login()")