div(class="row publish-pdf")
	div(class="col-lg-12")
		div(class="title-box-pdf")
			h1(class="title-header-pdf") {{ workout.title }}
			img(src="assets/images/logo_white.png" class="workout-logo-pdf")
		div(class="title-box-pdf")
			h2(class="sub-header-pdf") {{ workout.first_name }} {{ workout.last_name }}
		div(class="workout-box-pdf")
				p(class="description-header-pdf") {{ workout.description }}
		ul(ng-model="collection" class="exercise-list-pdf")
			li(ng-repeat="item in collection" class="exercise-item-pdf")
				div(class="row")
					h3(class="col-xs-7 item-title-pdf") {{ item.title }}
					ul(class="col-xs-5 box-nums-pdf")
						li(class="box-set-pdf")
							span(class="item-set-start-pdf") {{ item.def_set_start }}
							span(ng-if="item.def_set_end != 1")  - 
							span(class="item-set-end-pdf" ng-if="item.def_set_end != 1") {{ item.def_set_end }}
							br
							span(ng-if="item.def_set_start == 1 && item.def_set_end == 1") set
							span(ng-if="item.def_set_start != 1 || item.def_set_end != 1") sets
						
						li(class="box-rep-pdf")
							span(class="item-rep-start-pdf") {{ item.def_rep_start }}
							span(ng-if="item.def_rep_end != 1")  - 
							span(class="item-rep-end-pdf" ng-if="item.def_rep_end != 1") {{ item.def_rep_end }}
							br
							span(ng-if="item.def_rep_start == 1 && item.def_rep_end == 1 && item.rep_time == 'rep'") rep
							span(ng-if="item.def_rep_start != 1 && item.rep_time == 'rep' || item.def_rep_end != 1 && item.rep_time == 'rep'") reps
							span(ng-if="item.def_rep_start == 1 && item.def_rep_end == 1 && item.rep_time == 'time'") second
							span(ng-if="item.def_rep_start != 1 && item.rep_time == 'time' || item.def_rep_end != 1 && item.rep_time == 'time'") seconds
						li(class="box-tempo-pdf" ng-hide="item.def_tempo == 0")
							span(class="item-tempo-pdf") {{ item.def_tempo }}
							br
							span() tempo

				div(class="row")
					img(class="col-xs-5 item-image-pdf" ng-src="{{ item.image }}")
					p(class="col-xs-7 item-description-pdf") {{ item.description }}