div(id="page-wrapper" ng-class="{'open': toggle}" ng-controller="DashboardController" ng-cloak)
	//sidebar
	include ./partials/sidebar.pug
	//dashboard header
	include ./partials/dashboard-header.pug
	//main content
	//user management list
	div(class="row")
		div(class="col-lg-12")