div(id="page-wrapper" ng-class="{'open': toggle}" ng-controller="DashboardController" ng-cloak)
	//sidebar
	include ./partials/sidebar.pug
	//dashboard header
	include ./partials/dashboard-header.pug
	//main content
	//user management list
	div(class="row")
		div(class="col-lg-12")
			rd-widget
				rd-widget-header(icon="fa-file-text" title="Workouts")
					button(type="button" class="btn btn-info create-button-exercises" ng-click="createEditWorkout('create', '')") Add Workout 
						i(class="fa fa-plus fa-1x" aria-hidden="true")
					input(type="text" placeholder="Search Workouts..." class="form-control input-sm" ng-model="search.query")
				rd-widget-body(classes="large no-padding")
					rd-loading(ng-show="loading")
					div(class="table-responsive" ng-hide="loading")
						table(class="table table-striped table-hover")
							thead
								tr
									th(class="text-center") ID
									th Title
									th(class="text-center") Exercises
									th(class="text-center") User
									th(class="text-center") Date Updated
									th(class="text-center") Template
									th(class="text-center") Edit
							tbody
								tr(ng-repeat="workout in filteredWorkouts()")
									td(class="text-center") {{ workout.id }}
									td {{ workout.title }}
									td(class="text-center") {{ countCollection(workout.collection) }}
									td(class="text-center") {{ workout.first_name }} {{ workout.last_name }}
									td(class="text-center") {{ workout.date_updated | date:'dd/MM/yyyy' }}
									td(class="text-center")
										a(ng-click="template(workout.id, workout.template)")
											i(class="fa fa-file-text fa-2x workout-template" aria-hidden="true" ng-class="{ tempd : workout.template == 1}")
									td(class="text-center")
										button(type="button" class="btn btn-info btn-sm" ng-click="createEditWorkout('edit', workout)") EDIT 
											i(class="fa fa-pencil-square-o fa-fw" aria-hidden="true")