div(id="content-wrapper")
	div(class="page-content")

		//header bar
		div(class="row header")
			div(class="col-xs-12")
				div(class="user pull-right")

					//user profile dropdown
					div(class="item dropdown" uib-dropdown)
						a(href="#" class="dropdown-toggle" uib-dropdown-toggle)
							img(src="assets/images/yeoman.png")
						ul(class="dropdown-menu dropdown-menu-right")
							li(class="dropdown-header") User Name
							li(class="divider")
							li(class="link")
								a(href="/login") New Product
							li(class="link")
								a(href="/login") Profile
							li(class="divider")
							li(class="link")
								a(ng-click="logout()") Logout

					//notifications dropdown
					div(class="item dropdown" uib-dropdown)
						a(href="#", class="dropdown-toggle" uib-dropdown-toggle)
							i(class="fa fa-bell-o")
						ul(class="dropdown-menu dropdown-menu-right")
							li(class="dropdown-header") Notifications
							li(class="divider")
							li
								a(href="#") Server Down!
				div(class="meta")
					div(class="page") Dashboard
					div(class="breadcrumb-links") Home / Dashboard