div(id="content-wrapper")
	div(class="page-content")

		//header bar
		div(class="row header")
			div(class="col-xs-12")
				div(class="user pull-right")

					//user profile dropdown
					div(class="item dropdown" uib-dropdown)
						a(href="#" class="dropdown-toggle" uib-dropdown-toggle)
							img(src="assets/images/logo_black.png")
						ul(class="dropdown-menu dropdown-menu-right")
							li(class="dropdown-header") {{ user.first_name }} {{ user.last_name }}
							li(class="divider")
							li(class="link")
								a(href="/dashboard/users") Users
							li(class="link")
								a(href="/dashboard/exercises") Exercises
							li(class="link")
								a(href="/dashboard/workouts") Workouts
							li(class="link")
								a(href="/login") Profile
							li(class="divider")
							li(class="link")
								a(href="#" ng-click="logout()") Logout

				//notifications dropdown
					div(class="item dropdown" uib-dropdown)
						a(href="#", class="dropdown-toggle" uib-dropdown-toggle)
							i(class="fa fa-bell-o")
						ul(class="dropdown-menu dropdown-menu-right")
							li(class="dropdown-header") Notifications
							li(class="divider")
							li
								a(href="#") Server Down!
				div(class="meta")
					div(class="page") {{ dashboard_location }}
					div(class="breadcrumb-links") {{ dashboard_location_sub }}