$white: #fff
$primary-colour: #ff7473
$confirm-colour: #2ECC71
$cancel-colour: #F1C40F
$delete-colour: #E74C3C
$user-modal-colour: #30426a
$tick-colour: #1AC656
$cross-colour: #FF3300
$star-fade: #d6ceac
$star-colour: #f0d233