$white: #fff
$primary-colour: #ff7473
$confirm-colour: #2ECC71
$cancel-colour: #F1C40F
$delete-colour: #E74C3C
$user-modal-colour: #30426a
$tick-colour: #1AC656
$cross-colour: #FF3300
$star-fade: #d6ceac
$star-colour: #f0d233
$fitness-style-blue: #297cb0
$fitness-style-blue-header: #297cb0
$fitness-style-blue-setrep: #297cb0

$fitness-style-purple: #8e44ad
$fitness-style-purple-header: #8e44ad
$fitness-style-purple-setrep: #8e44ad

$fitness-style-red: #e74c3c
$fitness-style-red-header: #e74c3c
$fitness-style-red-setrep: #e74c3c

$fitness-style-green: #2ecc71
$fitness-style-green-header: #2ecc71
$fitness-style-green-setrep: #2ecc71

$fitness-style-orange: #d35400
$fitness-style-orange-header: #d35400
$fitness-style-orange-setrep: #d35400

$fitness-style-pink: #db0a5b
$fitness-style-pink-header: #db0a5b
$fitness-style-pink-setrep: #db0a5b

$fitness-style-black: #2c3e50
$fitness-style-black-header: #2c3e50
$fitness-style-black-setrep: #2c3e50

$fitness-yellow: #f1c40f
$fitness-style-yellow-header: #f1c40f
$fitness-style-yellow-setrep: #f1c40f

$duplicate-no: #333
$duplicate-yes: #ff7473