doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		base(href="/")
		title Parallaxis
		link(rel="stylesheet" href="assets/libs/bootstrap.min.css")
		link(rel="stylesheet" href="assets/libs/font-awesome.min.css")
		link(rel="stylesheet" href="assets/libs/rdash.min.css")
		link(rel="stylesheet" href="assets/styles/master.css")
		//link(rel="icon" type="image/png" href="assets/images/favicon.png")
		script(src="assets/libs/jquery.min.js")
		script(src="assets/libs/angular.min.js")
		script(src="assets/libs/angular-route.min.js")
		script(src="assets/libs/angular-cookies.min.js")
		script(src="assets/libs/ui-bootstrap-tpls.min.js")
		script(src="assets/libs/bootstrap.min.js")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body(ng-app="AllStarFitness" ng-controller="MasterController")
		p All Star Fitness
		div(id="page-wrapper" ng-class="{'open': toggle}" ng-cloak)
			//sidebar
			//include ./views/partials/sidebar.pug
			//dashboard header
			//include ./views/partials/dashboard-header.pug
			//main content
			//div(ng-view)

		//App Module
		script(src="app.js")
		//Controllers
		//script(src="controllers/MasterController.js")
		//script(src="controllers/LoginController.js")
		//script(src="controllers/DashboardController.js")
		//script(src="controllers/UserController.js")
		//script(src="controllers/AlertsController.js")
		//Directives
		//script(src="directives/loading.js")
		//script(src="directives/widget.js")
		//script(src="directives/widget-header.js")
		//script(src="directives/widget-footer.js")
		//script(src="directives/widget-body.js")
		//Services
		//script(src="services/dashboardService.js")
		//script(src="services/loginService.js")