doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		base(href="/")
		title All Star Fitness
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="AllStar Fitness Workout Planner and Printer")
		meta(name="author" content="Jayden Spencer")
		link(rel="stylesheet" href="./assets/libs/bootstrap.min.css")
		link(rel="stylesheet" href="./assets/libs/font-awesome.min.css")
		link(rel="stylesheet" href="./assets/libs/rdash.min.css")
		link(rel="stylesheet" href="./assets/styles/master.min.css")
		link(rel="icon" type="image/png" href="./assets/images/favicon.png")
		//libraries
		script(src="assets/libs/jquery.min.js")
		script(src="assets/libs/angular.min.js")
		script(src="assets/libs/angular-route.min.js")
		script(src="assets/libs/angular-cookies.min.js")
		script(src="assets/libs/sortable.min.js")
		script(src="assets/libs/jquery-ui.min.js")
		script(src="assets/libs/ui-bootstrap-tpls.min.js")
		script(src="assets/libs/bootstrap.min.js")
	body(ng-app="AllStarFitness" ng-controller="MasterController")
		div(ng-view)

		//Angular JS
		script(src="js/app.min.js")