doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		base(href="/")
		title All Star Fitneess Dashboard
		link(rel="stylesheet" href="./assets/libs/bootstrap.min.css")
		link(rel="stylesheet" href="./assets/libs/font-awesome.min.css")
		link(rel="stylesheet" href="./assets/libs/rdash.min.css")
		link(rel="stylesheet" href="./assets/styles/master.min.css")
		link(rel="icon" type="image/png" href="./assets/images/favicon.png")
		//libraries
		script(src="assets/libs/jquery.min.js")
		script(src="assets/libs/angular.min.js")
		script(src="assets/libs/angular-route.min.js")
		script(src="assets/libs/angular-cookies.min.js")
		script(src="assets/libs/sortable.min.js")
		script(src="assets/libs/jquery-ui.min.js")
		script(src="assets/libs/ui-bootstrap-tpls.min.js")
		script(src="assets/libs/bootstrap.min.js")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body(ng-app="AllStarFitness" ng-controller="MasterController")
		div(ng-view)

		//PDF CDNS
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js")

		//Angular JS
		script(src="js/app.min.js")