div(class="modal-header modal-header-success")
	h3 Create Workout
div(class="modal-body")
	form(class="form form-document-model")
		
		//workout title
		label(class= "control-label" for="workout_title") Workout Title*
		input(type="text" class="form-control" id="workout_title" aria-describedby="basic-addon3" ng-model="workout.title" placeholder="Enter title of workout..." ng-required="true" maxlength="100" required)

		//add user
		label(class= "control-label" for="name") User*
		input(type="text" ng-model="selected" uib-typeahead="user as user.first_name + ' ' + user.last_name for user in users | filter:$viewValue | limitTo:8" class="form-control" placeholder="Search and select by users name..." ng-hide="loading")

		//add collection
		label(class= "control-label" for="collection") Exercise ID Collection
		input(type="text" class="form-control" id="workout_title" aria-describedby="basic-addon3" ng-model="workout.collection" placeholder="Enter exercise collection eg.(1, 23, 19, 3)" ng-required="true" maxlength="100" required)
		
div(class="modal-footer")
	button(class="btn btn-primary btn-confirm" type="submit" ng-click="confirm()") Create Workout
	button(class="btn btn-warning btn-cancel" type="button" ng-click="cancel()") Cancel