div(class="modal-header modal-header-success")
	h3 {{ title }}
div(class="modal-body")
	form(class="form form-workout-model")
		div(class="form-group")
			//Title
			label(class= "control-label" for="first_name") Exercise Title*
			input(type="text" class="form-control" id="exercise_title" aria-describedby="basic-addon3" ng-model="exercise.title" placeholder="Enter exercise title...")

			//Description
			label(class= "control-label" for="first_name") Exercise Description
			textarea(type="text" class="form-control" id="exercise_description" aria-describedby="basic-addon3" ng-model="exercise.description" placeholder="Enter exercise description...")

			//Image
			label(class= "control-label" for="first_name") Exercise Image
			input(type="file" id="trigger" onchange="angular.element(this).scope().setFile(this)" name="photo" accept="image/*" ng-disabled="loading")
			img(ng-src="{{ tempImage }}" class="imagePreview" ng-show="tempImage")
			img(ng-src="{{ exercise.image }}" class="imagePreview" ng-show="exercise.image" ng-hide="tempImage")
			br
			button(type="button" class="btn btn-primary uploadButton" ng-click="uploadImage(exercise.image)" ng-show="currentFile" ng-disabled="loading") Upload Image
			button(type="button" class="btn btn-danger removeImgButton" ng-click="removeImage()" ng-show="exercise.image || currentFile" ng-disabled="loading") Clear Image
			//reps
			br
			label(class= "control-label" for="reps") Reps
			br
			//min
			div(class="col-xs-3")
				div(class="input-group number-spinner")
					span(class="input-group-btn data-dwn")
						button(class="btn btn-default btn-info" data-dir="dwn" ng-click="repStartMinus()")
							span(class="glyphicon glyphicon-minus")
					input(type="text" class="form-control text-center counters" ng-model="exercise.def_rep_start")
					span(class="input-group-btn data-up")
						button(class="btn btn-default btn-info" data-dir="up" ng-click="repStartPlus()")
							span(class="glyphicon glyphicon-plus")
				//max
				div(class="input-group number-spinner")
					span(class="input-group-btn data-dwn")
						button(class="btn btn-default btn-info" data-dir="dwn" ng-click="repEndMinus()")
							span(class="glyphicon glyphicon-minus")
					input(type="text" class="form-control text-center counters" ng-model="exercise.def_rep_end")
					span(class="input-group-btn data-up")
						button(class="btn btn-default btn-info" data-dir="up" ng-click="repEndPlus()")
							span(class="glyphicon glyphicon-plus")
			div(class="row sets-row")
				//sets
				label(class= "control-label" for="reps") Sets
				br
				//min
				div(class="col-xs-3")
					div(class="input-group number-spinner")
						span(class="input-group-btn data-dwn")
							button(class="btn btn-default btn-info" data-dir="dwn" ng-click="setStartMinus()")
								span(class="glyphicon glyphicon-minus")
						input(type="text" class="form-control text-center counters" ng-model="exercise.def_set_start")
						span(class="input-group-btn data-up")
							button(class="btn btn-default btn-info" data-dir="up" ng-click="setStartPlus()")
								span(class="glyphicon glyphicon-plus")
					//max
					div(class="input-group number-spinner")
						span(class="input-group-btn data-dwn")
							button(class="btn btn-default btn-info" data-dir="dwn" ng-click="setEndMinus()")
								span(class="glyphicon glyphicon-minus")
						input(type="text" class="form-control text-center counters" ng-model="exercise.def_set_end")
						span(class="input-group-btn data-up")
							button(class="btn btn-default btn-info" data-dir="up" ng-click="setEndPlus()")
								span(class="glyphicon glyphicon-plus")
			div(class="row")

div(class="modal-footer")
	button(class="btn btn-danger button-delete" type="button" ng-click="delete()" ng-show="buttonDelete" ng-disabled="loading") Delete
	button(class="btn btn-primary btn-confirm" type="submit" ng-click="confirm()" ng-disabled="loading") {{ buttonSave }}
	button(class="btn btn-warning btn-cancel" type="button" ng-click="cancel()" ng-disabled="loading") Cancel