div(class="modal-header modal-header-success")
	h3 {{ title }}
div(class="modal-body")
	ul
		li {{ type }}
div(class="modal-footer")
	button(class="btn btn-danger button-delete" type="button" ng-click="delete()" ng-show="buttonDelete") Delete
	button(class="btn btn-primary btn-confirm" type="button" ng-click="confirm()") {{ buttonSave }}
	button(class="btn btn-warning btn-cancel" type="button" ng-click="cancel()") Cancel