div(class="modal-header modal-header-success")
	h3 {{ title }}
div(class="modal-body")
	form(class="form form-user-model")
		div(class="form-group")
			//firstname
			label(class= "control-label" for="first_name") First Name*
			input(type="text" class="form-control" id="first_name" aria-describedby="basic-addon3" ng-model="user.first_name" placeholder="Enter users first name..." ng-required="true" maxlength="50" required)
			
			//lastname
			label(class= "control-label" for="last_name") Surname*
			input(type="text" class="form-control" id="last_name" aria-describedby="basic-addon3" ng-model="user.last_name" placeholder="Enter users surname..." ng-required="true" maxlength="100" required)
			
			//email
			label(class= "control-label" for="email") Email
			input(type="email" class="form-control" id="email" aria-describedby="basic-addon3" ng-model="user.email" placeholder="Enter users email..." maxlength="100" ng-required="true")

			//gender
			label(class= "control-label" for="gender") Gender*
			select(class="form-control" ng-model="gender" id="gender" required)
				option(value="female" selected) Female
				option(value="male") Male

			//age --calender component
			label(class= "control-label ageLabel" for="age") Age ({{ age }})
			div(class="col-md-10 ageSelector")
				p(class="input-group")
					input(type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-change="getAge()")
					span(class="input-group-btn")
						button(type="button" class="btn btn-default" ng-click="open1()")
							i(class="glyphicon glyphicon-calendar")

div(class="modal-footer")
	button(class="btn btn-danger button-delete" type="button" ng-click="delete()" ng-show="buttonDelete") Delete
	button(class="btn btn-primary btn-confirm" type="submit" ng-click="confirm()") {{ buttonSave }}
	button(class="btn btn-warning btn-cancel" type="button" ng-click="cancel()") Cancel